.member_arrears {
    background-color:#FFFF99;
}
.member_expired {
    background-color:#FF9999;
}

.pluginMembershipPlanForm label {
    width: 16em;
    float: left;
    text-align: right;
    margin-right: 1em;
    display: block;
    clear: both;
}

td.lbl {
    width: 18em;
}

.pluginMembershipButtons {
    position: relative;
    float: right;
    margin-right: 10px;
    text-align:left;
    padding-bottom: 10px;
}

#pluginMembershipHeader {
    font-size: 150%;
}

#pluginMembershipAppMsg{
    font-size: 150%;
    clear: both;
    text-align:center;
}
.mbr-alert a {
    font-style: italic;
}

#pluginMembershipPlanName {
    font-size: 150%;
    /*padding-bottom: 5px;*/
}

#pluginMembershipPrice {
    font-weight: bold;
    padding-top: 5px;
    padding-right: 10px;
    float: right;
}

.pluginMembershipPlanItem {
    /*padding: 10px;*/
    clear: both;
}

.bold {
    font-weight: bold;
}

#linklist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#pluginMembershipExpMsg {
    font-style: italic;
    font-size: 1.5em;
    font-weight: bold;
    color: red;
    text-align: center;
}

#pluginMembershipDescription {
    margin-bottom: 1em;
}

.member_highlight {
    background-color:#FFFF99;
}
.member_normal { }

div.piMembershipRenewalFields {
    float: right;
    background-color: #FFCCCC;
}

div.piMembershipLoginForm {
    border: 3px solid black;
    background-color: #CCCCCC;
    padding: 25px;
    font-size: 150%;
    text-align: center;
    display: none;
}

.app_error {
    background-color: #FF9999;
}

div.grouplist {
    font-size: 120%;
    text-align:center;
}

div.grouplist td {
    padding: 10px;
}

div.grouplist .userimage {
    width:100px;
}

div.grouplist .vacant {
    font-style: italic;
    color: green;
}

.piMembershipAdminNewItem {
    font-style: italic;
    font-weight: bold;
    color: red;
}

/* Override button styles when using uk-icons */
.memb-icon-button {
    border: none;
    float: none;
    margin: 0 7px 0 0;
    padding: 0;
}

.mbr-icon-ok {
    color: green;
}
.mbr-icon-danger {
    color: red;
}
.mbr-icon-warning {
    color: #FFD300;
}
.mbr-icon-info {
    color: #0077dd;
}
.mbr-icon-unknown {
    color: #530E53;
}

.mbr-tooltip {
    max-width: 25%;
    word-break: keep-all;
}
