<plugin>
    <id>membership</id>
    <name>Membership</name>
    <description>Provides an interface to manage club members.</description>
    <version>0.2.2</version>
    <glfusionversion>1.7.8</glfusionversion>
    <phpversion>7.3.0</phpversion>
    <url>http://www.leegarner.com</url>
    <maintainer>Lee Garner</maintainer>
    <requires>lglib,1.0.9</requires>
    <requires>profile</requires>
</plugin>
